apiVersion: v1
kind: Service
metadata:
  name: sentiment-api-service
  namespace: sentiment-app
spec:
  selector:
    app: sentiment-api
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP